<launch>
  <node pkg="xqserial_server" type="xqserial_server" name="motor_driver" output="screen">
    <param name="debug_flag" value="false"/>
    <param name="wheel_separation" value="0.360"/>
    <param name="port" value="/dev/xRobot-chassis"/>
  </node>

  <!-- 自动轨迹节点 -->
  <node pkg="communication_test" type="arm_auto" name="arm_auto" output="screen">
  </node>

  <!-- 摄像头、输送带节点 -->
  <node pkg="communication_test" type="send_data_serialPort" name="send_data_serialPort">
  </node>

  <!-- 接受远程控制箱节点 -->
  <node pkg="communication_test" type="tele_data_serialPort" name="tele_data_serialPort" output="screen">
  </node>

  <!-- 机器人传感数据（包括gps信号）上传节点 -->
  <node pkg="communication_test" type="robot_data_serialPort" name="robot_data_serialPort" >
  </node>

  <!-- gps模块解析节点 -->
  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" >
  </node>

  <!-- 降低gps频率 -->
  <node name="foo_throttler" type="throttle" pkg="topic_tools" args="messages /fix 1 /gps_Hz" >
  </node>

</launch>

<!-- rosrun topic_tools throttle messages fix 1.0 -->

<!-- #启动GPS定位模块数据获取节点
rosrun nmea_navsat_driver nmea_serial_driver _port:=/dev/xRobot-gps _baud:=115200

#启动机器人数据上传节点
rosrun communication_test robot_data_serialPort -->